body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart {
  max-width: 600px;
  margin: 0 auto;
}

.titles {
  margin-left: 260px;
}

.activity {
  margin-left: 460px;
}

@media screen and (max-width: 900px) {
  .titles {
    margin-left: 20px;
  }
  .activity {
    margin-left: 20px;
  }
}
